<div class="bordera colori">
	<h3 class="booking">Доставка курьером</h3>
</div>	
<div class="bordera ">
	<p class="texti">Курьерская служба-партнёр доставит ваш заказ в любую точку следующих городов: Москва (в пределах МКАД), Санкт-Петербург, Брянск, Владимир, Вологда, Екатеринбург, Иваново, Калуга, Кострома, Нижний Новгород, Орел, Ростов-на-Дону, Рязань, Тверь, Тула, Тюмень, Челябинск, Ярославль.</p>
	<p class="texti">Когда заказ будет передан курьерской службе, вам позвонят для уточнения данных, времени и места доставки.</p>

	<p class="texti">В день доставки с вами снова свяжется курьер для окончательного согласования встречи</p>
	<p class="texti">Обращаем ваше внимание, что заказ отправляется из Москвы до указанного вами города. Сроки доставки напрямую зависят от расстояния между городами.</p>
</div>	

<div class="bordera colori">
	<h3 class="booking">Оплата</h3>
</div>	
<div class="bordera">
	<p class="texti">Наличными при получении.</p>
</div>
<div class="bordera colori">	
	<h3 class="booking">Стоимость доставки</h3>
</div>	
<div class="bordera">
	<p class="texti">При заказе до 2000 руб. – 200 руб.</p>
	<p>При заказе от 2000 руб. – бесплатно.</p>
	<p>Заказ весом более 10 кг. доставляется до подъезда. Подъём на этаж обговаривается отдельно.</p>
	<p>Доставка Почтой России.</p>
	<p>Доставка Почтой России по всей стране.</p>
	<p>Если Вам не удобно добираться до наших магазинов или в Вашем городе их просто нет, Вы можете заказать доставку Почтой России в любую часть страны.</p>
</div> 
<h3 class="booking colori">Сроки доставки почтой.</h3>
<div class="bordera">
	<p class="texti">Сроки доставки соответствуют нормативам Почты России, которые можно узнать здесь .</p>
	<p class="texti">Оповещения</p>
	<p class="texti">Как только Ваш заказ поступит на Почту России, ему присвоят уникальный номер, который пришлют Вам в информационном письме или в SMS.</p>
	<p class="texti">Узнать о состоянии заказа Вы можете здесь . Обращаем Ваше внимание, что при поступлении заказа на Почту России требуется некоторое время для его обработки, поэтому информация о состоянии заказа появится через небольшой промежуток времени.</p>
	<p class="texti">Почта России предоставляет услугу «SMS-уведомления», которое позволит Вам отслеживать состояние заказа по мобильному телефону.</p>
</div>	
<div class="bordera colori">
	<h3 class="booking">Оплата и стоимость</h3>
</div>	
<div class="bordera">
	<p class="texti">Доставка заказа осуществляется наложенным платежом. На почте Вам необходимо оплатить заказ и почтовую комиссию. Размер комиссии указывается на стадии оформления заказа.</p>
	<p class="texti">Общая стоимость заказа с доставкой Почтой России не должна превышать 5000 рублей. Суммарный вес заказа не должен быть больше 10 килограмм. Если заказ превышает стоимость в 5000 рублей и/или его вес более 10 кг, то при доставке он разбивается на несколько заказов. </p>

	<p class="texti">Стоимость доставки зависит от веса заказа:</p>
	<p class="texti">Вес до 0.5 кг – 100 руб;</p>
	<p class="texti">Вес от 0.51 до 1.0 кг – 150 руб;</p>
	<p class="texti">Вес свыше 1 кг – 200 руб.</p>
</div>	
<div class="bordera colori">
	<h3 class="booking">Обратите внимание: </h3>
</div>	
<div >
	<p class="texti">1) доставка заказа почтой в Республику Саха (Якутия) временно не осуществляется. </p>

	<p class="texti">2) данные условия действительны для тарифных зон I и II. При заказе в тарифные зоны III, IV, V с вами свяжется наш специалист для уточнения стоимости доставки. </p>

	<p class="texti">3) отправка в некоторые зоны предполагает доплату за авиатариф, вследствие чего стоимость доставки может существенно возрасти. Для уточнения стоимости доставки с Вами свяжется наш специалист</p>
</div>	